/*CSS3 tiene valores por default*/


/*El úiltimo valor o el valor que este hasta abjo es el que CSS3 va a aplicar*/


/*El orden del código es muy importante*/


/*Se recomienda usar 'rem' en lugar de 'px' y para eso podemos ajustar en el selector html{} y en el selector body{}*/


/*Al iniciar con: estamos indicando que utlizaremos un pseudoselector o custom propierties*/


/*Existen varias formas de escribir código CSS: Las más comunes hoy en día son, BEM, Utility First o Módulo*/


/* BEM: Significa BLOQUES, ELEMENTOS Y MODIFICADORES.*/


/*Bloque: card{} */


/*Elementos: card_ _titulo{}, card_ _imagen{}, card_ _boton{}*/


/*Modificador: card_ _boton--color{}*/


/*Utility First. Básicamnete creas clases con una sola propiedad que describe que es lo que haría.*/


/*.text-center{}, .color-red-100{}, .bg-blue-200{}, .p-2{}, .m-2{}*/


/*Módulos Defines el contenido principal y después vas seleccionando los elementos.*/


/*Estamos usando utility first y modulos*/


/*-----Custome Propierties-----*/

 :root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #009988;
    --secundario: #085b81;
    --gris: #757575;
    --fuente-principal: 3rem;
}


/*-----Globales-----*/

html {
    font-size: 62.5%;
    box-sizing: border-box;
    /*Hack para box model*/
    /*scroll-snap-type: y mandatory;*/
}


/*-----Scroll Snap-----*/


/*
.servicios,
.navegacion-principal,
.formulario {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}
*/


/*Aplicar un modelo de diseño de caja natural a todos los elementos, pero permitiendo que los componentes cambien*/


/*Snippet de Paul Irish*/

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    /*1rem = 10px*/
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top, #d9f9f3 0%, var(--blanco) 100%);
    /*Degradado(Dirección, Color Donde va a iniciar%, Color Donde va a terminar%*/
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    /*o bold*/
    border-radius: .5rem;
    width: 80%;
    text-align: center;
    border: none;
}

@media (min-width: 768px) {
    .boton {
        width: auto;
    }
}

.boton:hover {
    cursor: pointer;
}

.sombra {
    /*Si hay duda si un método debe llevar un prefijo o no podemos buscarlo en la página caniuse.com*/
    -webkit-box-shadow: 0px 0px 15px 9px rgba(179, 177, 179, 0.76);
    -moz-box-shadow: 0px 0px 15px 9px rgba(179, 177, 179, 0.76);
    box-shadow: 0px 0px 15px 9px rgba(179, 177, 179, 0.76);
    /*Para generar las sombras o algun otro tipo de degradado existe una página que te genera el codigo automaticamente
    dependiendo de como lo necesites y es: www.cssmatic.com*/
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}


/*-----Tipografía-----*/

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.8rem;
}

h1,
h2,
h3 {
    text-align: center;
}


/*-----Títulos-----*/

.titulo span {
    font-size: 2rem;
}


/*-----Utilidades-----*/

.nav-bg {
    background-color: var(--secundario);
}

.w-sm-100 {
    width: 100%;
}

@media (min-width: 768px) {
    .w-sm-100 {
        width: auto;
    }
}

.flex {
    display: flex;
}

.align-right {
    justify-content: flex-end;
    /*alinear al último o a la derecha*/
}


/*-----Navegación Principal-----*/


/*Flexbox fue diseñado como un modelo unidimensional para crear layouts, corre ya sea de izquierda a derecha o 
de arriba hacia abajo pero solo en una dirección.*/

.navegacion-principal {
    display: flex;
    /*Flexbox se aplica al elemento padre de lo que se desea alinear, por default se colocan con en forma de row*/
    flex-direction: column;
    /*Permite mover el contenido horizontalmente*/
}


/*Los media queries van heredar elementos anteriores a el, por ejemplo aqui es el display: flex*/


/*En el Media Query solamente vas a colocar lo que va a modificar el diseño según el tamaño de la pantalla*/


/*Media Querys: 480px-Telefonos, 768px-Tablets, 1140px-Laptops y PC'S, 1400px*/


/*Para alinear horizontalmente se utiliza justify-content y para alinear verticalmente se utiliza align-items*/

@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion-principal a {
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    /*Para quitarle la linea debajo del el enlace*/
    font-size: 2rem;
    font-weight: bold;
    /*bold o 700 es el mismo uso para las fuentes en negritas*/
    padding: 1rem;
}

.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}


/*CSS Box Model, Básicamente el tamaño que se muestra en pantalla esta delimitado por cuatro cosas:

Tamaño de contenido,

Tamaño de relleno(padding),

Tamaño del borde,

Margen*/


/*-----Hero-----*/

.hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem;
    padding: 2rem;
    position: relative;
    /*Si quiero que el hijo tenga una position: absolute debo ir al padre y agregarle position: relative*/
    margin-bottom: 2rem;
}

.contenido-hero {
    background-color: rgba(0, 0, 0, 0.75);
    /*Anterior*/
    background-color: rgb(0, 0, 0 / 65%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    /*1*/
    /*display: flex, se aplica al pedre de todos los elementos que se quieren alinear*/
    flex-direction: column;
    /*Cuando es column y se quiere alinear horizontalmente ya no sera justify-content sino se hara con align-items*/
    /*2*/
    align-items: center;
    /*3*/
    justify-content: center;
    /*4*/
    /*Este codigo (1-4) se puede aplicar a caulquier proyecto caundo se requiera alinear tanto como vertical como horizontalmente*/
}

.contenido-hero h2,
.contenido-hero p {
    color: var(--blanco);
}

.contenido-hero .ubicacion {
    display: flex;
    align-items: flex-end;
}


/*-----Servicios-----*/


/*CSS Grid te permite definir la ubicación y tamaño de los elementos web.*/

@media (min-width: 768px) {
    .servicios {
        /*Al igual que flex, grid se le aplica al padre de los elementos que quieres alinear*/
        display: grid;
        /*grid-template-columns: 33.3% 33.3% 33.3%;
        grid-template-columns: 1fr 1fr 1fr;*/
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
        /*similar a ur margin*/
    }
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio h3 {
    color: var(--secundario);
    font-weight: normal;
    /*o 400*/
}

.servicio p {
    line-height: 2;
    /*interlineado*/
    text-align: center;
}

.servicio .iconos {
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    /*Cuando tenemos un div cuadrado para convertirlo en circulo le damos un border-radius del 50%*/
    border-style: groove;
    border-color: var(--gris);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


/*-----Contacto-----*/

.formulario {
    background-color: var(--gris);
    width: min(60rem, 100%);
    /*Va a evaluar entre los dos valores y va utilizar el valor más pequeño de ambos*/
    margin: 0 auto;
    /*Siempre hay que utilizarlo para alinear al centro un elemento mientras este no tenga
    como padre un display: flex;*/
    padding: 2rem;
    border-radius: 1rem;
}

.formulario fieldset {
    border: none;
}

.formulario legend {
    margin: 0 auto 2rem auto;
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    /*o bold*/
    color: var(--primario);
}

@media (min-width: 768px) {
    .contenedor-campos {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;
        /*margen*/
    }
    .campo:nth-child(3),
    /*Correo*/
    .campo:nth-child(4)/*Mensaje*/
    {
        grid-column: 1/3;
        /*El elemento en este caso el input: email se debe colocar en la coordenada 1 a la 3*/
    }
}

.campo {
    margin-bottom: 1rem;
}

.campo label {
    color: var(--blanco);
    font-weight: bold;
    /*o 700*/
    margin-bottom: .5rem;
    display: block;
    /*Para que el label tome todo el espacio disponible*/
}

.campo textarea {
    height: 20rem;
}

.campo input[type="text"],
.campo input[type="tel"],
.campo input[type="email"],
.campo textarea {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}

@media (min-width: 768px) {
    .enviar {
        margin-top: 2rem;
    }
}


/*-----Footer-----*/

.footer p {
    text-align: center;
}